body {
    background-color:#275950;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    padding:10px;
    margin:10px;
    width: 22%;
    background: #41BFB3;
    border-radius:5px;
    margin-bottom: 25px;
     box-shadow: 5px 8px black;
}

.assignment img {
    width:200px;
    border: 4px solid #260101;
    margin-right:20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    color: #41BFB3;
    text-align:center;
}

a {
    text-decoration:none;
    color:black;
}

.assignment a:hover {
    color: red;
}
